<!doctype html>
<html>
<head>
	 <% include ./../partials/head %>
	 <style>
        body{
            padding-top: 120px;
        }
    </style>
</head>
<body>

<% include ./../partials/navbar %>

<div class="container">
<div class="row">
<% include ./../partials/navbar-left-fixed %>
    <div class="col-sm-8">
	    <h1>Accomodations</h1>
	    <div class="row">
		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>
					<p>
						<strong>id</strong><br>
						<strong>email</strong>: <br>
						<strong>password</strong>: 
					</p>

			</div>
		</div>
        </div>
         <div class="row">
		<!-- FACEBOOK INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
				<p>
					<strong>id</strong>: <br>
					<strong>token</strong>: <br>
					<strong>email</strong>: <br>
					<strong>name</strong>:
				</p>
			</div>
		</div>
		</div>
    </div>
      <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked affix">
           <div class="create-new-button">
            <a href="/accomodation" >
                  Accomodations
            </a>  
           </div>
            <div class="create-new-button">
            <a href="/accomodation" >
                  Accomodations1
            </a>  
           </div>

        </ul>
    </div> 
</div><!-- row -->
</div><!-- container -->
<!-- Footer -->
   <% include ./../partials/footer %>
   <% include ./../partials/load-js-afterbody %>
</body>
</html>
